################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFAccountingSystem/SFAccountingSystem/obj
/SFAccountingSystem/SFAccountingSystem/bin/Debug/net7.0
/.vs
/SFAccountingSystem/.vs/*
SFAccountingSystem/SFAccountingSystem/.vscode/launch.json
SFAccountingSystem/SFAccountingSystem/.vscode/tasks.json
/SFAccountingSystem/SFAccountingSystem.Api/bin/Debug/net7.0
/SFAccountingSystem/SFAccountingSystem.Api/obj
/SFAccountingSystem/SFAccountingSystem.Core/bin/Debug/net7.0
/SFAccountingSystem/SFAccountingSystem.Core/obj
