################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFAccountingSystem/SFAccountingSystem/obj
/SFAccountingSystem/SFAccountingSystem/bin/Debug/net7.0
